.card {
    max-width: 50%;
    min-width: 40%;
    /* vertical-align: baseline; */

    /* display: flex; */
    /* flex-wrap: wrap; */
    align-content: left;
    /* padding-left: 1%; */
}
.container {
    align-content: left;
    /* vertical-align: baseline; */
    text-align: left;
    justify-content: left;

    /* display: inline-table; */
}

.nameTag {
    color: green;
    -webkit-text-fill-color: green; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.4rem;
    /* vertical-align: baseline; */
    /* display: inline-bock; */
    float: left;
    justify-content: left;
    padding-right: 10px;
    display: inline-block;
    width: 90px;
}

::placeholder {
    color: rgb(107, 117, 11);
}
